body{
	margin:0;
	padding:0;
	
}

nav{
	width:100%;
	height:80px;
	background-color:#f2f5a9;
	top:0;
	line-height:80px;
	
}
nav ul{
	float:right;
	margin-right:150px;
}
nav ul li{
	list-style-type:none;
	display:inline-block;
	transition:0.8s all;
}

nav ul li:hover{
	background-color:#f39d1a;
}	
nav ul li a{
	text-decoration:none;
	color:#000;
	padding:20px;
}

.container{
	width:100%;
	height:700px;
	position:relative;
	background-image:url("Farm.jpg");
	background-size:cover;
}
.container .inner{
	position:absolute;
	width:100%;
	background-color:#0009;
	transform:translate(-50%,-50%);
	top:50%;
	left:50%;
}

.container .inner p{
	color:#fff;
	font-size:45px;
	font-family:arial;
	
}
#footer{
	background:#101522;
	padding:0 0 25px 0;
	color:#eee;
	font-size:14px;
	
}
#footer .footer-top{
	background:#040919;
	padding:60px 0 30px 0;
	
}
.form input{
  font-family:"Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 85%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button{
  font-family: "Roboto",sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 85%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
